@use '/src/common/styles/utils' as *;
@use '/src/common/styles/tokens' as *;
@use '/src/common/styles/mixins' as *;


@media screen and (min-width: 0em) {
  #navigation {
    position: relative;
    height: em(50);
    width: 100%;
    @include responsive-padding($nav-padding);
    background-color: var(--color-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;

    .logo {
      position: relative;
      z-index: 101;
      color: var(--color-light);
      font-weight: 700;
      font-size: em(22);
      text-decoration: none;

    }

    .toggle-button {
      position: absolute;
      z-index: 101;
      top: em(10);
      right: em(20);
      width: em(30);
      height: em(30);
      cursor: pointer;
    }

    .nav-items {
      background-color: var(--color-dark);
      position: fixed;
      width: 100vw;
      height: 100dvh;
      padding: 20dvh 0;
      overflow: hidden;
      z-index: 100;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      // toggle visibility
      opacity: 0;
      visibility: hidden;
      transform: translateX(100%);
      transition: all 0.3s ease;


      .nav-item {
        list-style: none;

        a {
          font-size: em(28);
          color: var(--color-light);
          font-weight: 400;
          text-decoration: none;

          position: relative;

          &::after {
            position: absolute;
            z-index: 101;
            content: ' ';
            width: 0;
            background-color: var(--color-accent);
            height: 2px;
            bottom: -15px;
            left: 0;
            transition: width 0.4s ease;
          }

          &:hover::after {
            width: 100%;
          }

        }

        &.active {
          a {
            &::after {
              width: 100%;
            }
          }
        }
      }
    }
  }

  // toggle visibility
  .open {
    opacity: 1 !important;
    visibility: visible !important;
    transform: translateX(0) !important;
  }

}

@media screen and (min-width: 768px) {
  #navigation {
    .toggle-button {
      display: none;
    }

    .nav-items {
      position: static;
      flex-direction: row;
      justify-content: space-between;
      padding: 0;
      width: 60%;
      height: 100%;

      .nav-item {
        height: 100%;
        display: flex;

        a {
          margin: auto 0 !important;
          font-size: em(16);
        }

      }
    }
  }
}

@media screen and (min-width: 1200px) {
  #navigation {
    .nav-items {
      width: 40%;
    }
  }
}

@media screen and (min-width: 1400px) {
  #navigation {
    .nav-items {
      width: 35%;
    }
  }
}

